* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("awesome spcae background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Keeps image fixed during scroll */
  background-color: #480058; /* Optional: A fallback color */
  font-family:  Georgia, 'Times New Roman', Times, serif, sans-serif;
  min-height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#badQualityShark { 
    width: 500px;
    height: 100px;
}

.container {
    background: rgb(124, 8, 134);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
}

.white_text {
    color: #ffffff;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    color: #ffffff;
    font-size: 1.6em;
    line-height: 1.6;
}

